#sortable, .release, .schedule {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#sortable li {
    margin: 0 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: 1.4em;
}

.ui-state-highlight {
    height: 60px;
}

.ui-state-default {
    background: #e8e8e8;
}

.close {
    opacity: 1;
}

#version {
    margin: 11px 8px 0;
    color: #FFF;
    font-weight: 400;
}

.release > li {
    margin: 0 3px 3px;
    padding: 0.4em;
}

.release > li > ul {
    list-style-type: disc;
    padding-left: 1.5em;
}

.table > thead > tr > th {
    border-bottom-width: 0;
}

.table > tbody > tr > td {
    border-top-width: 0;
    padding: 0;
}

.schedule li {
    border: 1px solid #ddd;
    width: 27.615px;
    height: 40px;
    float: left;
}

.schedule .ui-selecting {
    background: #5aa6d2;
}

.schedule .ui-selected {
    background: #337ab7;
}

.header > tr > th {
    padding: 0 !important;
    font-weight: 500;
}

.header > tr > th > div {
    display:table-column;
    float:left;
}

.body > tr > td:first-child {
    vertical-align: middle !important;
    width: 100px;
}